<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
        @import url("cssSetting.css")
    </style>
</head>

<body>
    <div id="wrapper">
        <div class="circle" th:text="' ' + ${num1}">원</div>
        <div class="circle" th:text="' ' + ${num2}">원</div>
        <div class="circle" th:text="' ' + ${num3}">원</div>
        <div class="circle" th:text="' ' + ${num4}">원</div>
        <div class="circle" th:text="' ' + ${num5}">원</div>
        <div class="circle" th:text="' ' + ${num6}">원</div>
    </div>
    <button class="GoToNumGeneratorButton" type="button" onclick="location.href='/Lotto365'">로또 번호 생성</button>
</body>

</html>